@import-normalize; /* bring in normalize.css styles */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #fdf7f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
li,
a {
  margin: 0;
  padding: 0;
}

li,
a {
  list-style: none;
}

svg {
  color: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  display: block;
}

button {
  cursor: pointer;
}
